{
    "root": true,
    "extends": ["eslint:recommended", "prettier"],
    "parserOptions": {
        "ecmaVersion": 8
    },
    "env": {
        "node": true,
        "jest": true,
        "es6": true
    }
}
